/************************POSTIT*****************/

.postit{
    width: 345px;
    height: 200px;
    font-family: Helvetica, arial, sans-serif;
    font-size: 16pt;
    color: #444;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    position: relative;
    float: left;
    margin: 10px;
}

.postit.pequeno{
	width: 200px;
    height: 100px;
	font-size: 10pt;
}

.postit.medio{
	width: 300px;
    height: 150px;
	font-size: 12pt;
}

.postit.grande{
	width: 345px;
    height: 200px;
	font-size: 16pt;
}

.postit:hover{
	border: 1px solid #CCC;
	box-shadow: 0px 0px 5px #CCC;
}

.postit.comp-alta:hover{
	border: 1px solid #FF5D57;
	box-shadow: 0px 0px 20px #FF5D57;
}

.postit.comp-media:hover{
	border: 1px solid #FFFA4D;
	box-shadow: 0px 0px 20px #FFFA4D;
}

.postit.comp-baixa:hover{
	border: 1px solid #ADFF5D;
	box-shadow: 0px 0px 20px #ADFF5D;
}

.postit.pastel:hover{
	border: 1px solid #CA86E8;
	box-shadow: 0px 0px 20px #CA86E8;
}

.postit.bug:hover{
	border: 1px solid #7FA0FF;
	box-shadow: 0px 0px 20px #7FA0FF;
}

/****** COMPLEXIDADE ****/

.comp-alta{
    background-color: #FF5D57;
}

.comp-media{
    background-color: #FFFA4D;
}

.comp-baixa{
    background-color: #ADFF5D;
}

.pastel{
    background-color: #CA86E8;
}

.bug{
    background-color: #7FA0FF;
}

.add{
    background-color: #CCC;
	color: #FFF;
}

.postit > * {
    margin: 10px;
}

.postit > .atividade{
    position: absolute;
    top: 0;
    left: 0;
}

.postit > .tempo{
    position: absolute;
    top: 0;
    right: 0;
}

.postit > .tempo{
    position: absolute;
    top: 0;
    right: 0;
}

.postit > .descricao{
    position: absolute;
    margin: 2em 1em;
}

.postit > .tipo{
    position: absolute;
    bottom: 0;
    left: 0;
}

.postit > .prioridade{
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-postit{
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #e6e6e6 inset;
}

.container-postit.row{
    margin-left: 0;
    margin-right: 0;
}

.tabela-complexidade{
    min-height: 500px;
    transition:background-color 0.4s;
}

.tabela-complexidade td{
    transition:background-color 0.4s;
}

.tabela-complexidade td:hover{
    background-color: #ccc;
}

.footer{
    background-color: #333;
    color:#fff;
}